/* CONTACT ---------------- */
#contact{
    width: 100vw;
    background: #000;
}
#contact_container{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

.contact{
    margin-bottom: 50px;
}
.typocontact{
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(1.1rem + 0.8vw);
    color: rgb(255, 183, 101);
}
.liencontact{
    padding-bottom: 5px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(0.7rem + 1vw);
    font-weight: lighter;
    color: rgb(216, 216, 216);

    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(184, 184, 184);
}
